body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("backgroundimage.png");
    background-color: #007bff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

#logotext {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.container {
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 35px;
    background: rgba(255, 255, 255, 0.7); /* Slightly transparent background */
    backdrop-filter: blur(10px);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 30px;
    color: #007bff;
}

form {
    display: flex;
    flex-direction: column;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 8px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 65px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center;
    transition: 1s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

#verificationQuestion {
    font-weight: bold;
    margin-top: 8px;
}